.shop-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.shop-item {
  margin: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 500;
}

.shop-item::after {
  text-decoration: none;
}
